@charset "EUC-KR";

body{
	font-family: dotum;
	color: #666;
}

form{
	width: 500px;
	position: relative;
}

fieldset{
	width: 90%;
	margin: 0 auto;
	border: none;
	border-bottom: 2px solid #7aa3eb;
	padding: 0;
}

legend{
	font-weight: bold;
	color:#7aa3eb;
	padding: 10px 0;
}

strong{
	color:#cd1076;
}

label{
	font-size: 0.75em;
}

div{
	border-bottom: 1px solid #eee;
	padding: 5px 0;	
}

strong.notice{
	position: absolute;
	top: 1.5em;
	right: 3em;
	font-size: 0.7em;
	letter-spacing: -1px;
}
.firstDiv{
	border-top: 2px solid #7aa3eb;
}

.label{
	float: left;
	/* display:inline-block; */
	width: 20%;
	text-align: right;
	font-size: 0.75em;
	font-weight: bold;
	padding: 4px 10px 0 0;
}

input[type=text], input[type=password]{
	width: 35%;
	height: 1.1em;
	font-size: 0.75em;
	border: 1px solid #dcdde3;
}

textarea{
	width: 70%;
	border:1px solid #dcdde3;
}

input[type=submit]{
	padding: 2px 10px;
	font-weight: bold;
	color:#cd1076;	
}

.submitDiv{
	text-align: center;
	border: none;
}















